.wrapper{
    height: 7vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 
}

.wrapper button{
    border: none;
    background-color: white;
    font-size: 1.2rem;
}