.download{
    position: fixed;
    top: 40rem;
    left: 80rem;
    border-radius: 50%;
    background-color: rgb(62, 127, 255);
    font-size: 2rem;
    color: white;
    width: 5vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.downloadBtn{
    margin: auto;
}
.upperNav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
body{
    background-color: rgb(190, 186, 186,0.3); 
}

.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}

.textArea{
    border: 1px solid rgb(182, 182, 182);
    box-shadow: 0px 0px 3px 3px rgb(182, 182, 182,0.5);
    height: 742px;
    width: 595px;
    padding: 6rem;
    background-color: white;
    color: #000;
    font-weight: 400;
    font-size: 1rem;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;  
    outline: none;
}
.textArea img{
    width: 400px;
}

@media screen and (max-width : 700px) {
    .textArea{
        width: 200px;
        margin-top: 5rem;
        padding: 4rem;
        /* margin-left: 10rem; */
    }
    .textArea img{
 
            width: 200px;
         
    }
    .download{
        display: none;
    }
    #btnDown{
        position: absolute;
        top: 2rem;
        background-color: black;
    }
}